[Unit]
Description=Immich Machine Learning (ROCm)


[Container]
Image=ghcr.io/immich-app/immich-machine-learning:v3-rocm
ContainerName=immich-machine-learning
Network=immich.network
Volume=immich-model-cache.volume:/cache

# ROCm Hardware Acceleration
AddDevice=/dev/kfd
AddDevice=/dev/dri
PodmanArgs=--group-add=keep-groups

Environment=TZ=UTC
Environment=HSA_OVERRIDE_GFX_VERSION=10.3.0

[Service]
Restart=always

[Install]
WantedBy=default.target
